.elementor-9 .elementor-element.elementor-element-a59d40d:not(.elementor-motion-effects-element-type-background),
.elementor-9 .elementor-element.elementor-element-a59d40d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-a59d40d {
  border-style: none;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-9 .elementor-element.elementor-element-a59d40d,
.elementor-9 .elementor-element.elementor-element-a59d40d>.elementor-background-overlay {
  border-radius: 0em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-a59d40d>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-4333b69>.elementor-element-populated {
  padding: 0px 0px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-a941243:not(.elementor-motion-effects-element-type-background),
.elementor-9 .elementor-element.elementor-element-a941243>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-a941243>.elementor-background-overlay {
  background-image: url("../../2025/01/stars-stripes-3_1stars-stripes-3-scaled.webp");
  opacity: 0.17;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-a941243,
.elementor-9 .elementor-element.elementor-element-a941243>.elementor-background-overlay {
  /* border-radius: 0px 0px 100px 100px; */
}

.elementor-9 .elementor-element.elementor-element-a941243 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-c4a5818>.elementor-element-populated {
  padding: 0px 0px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-096b5d7 {
  padding: 0em 4em 0em 4em;
}

.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-9 .elementor-element.elementor-element-f620d1d {
  text-align: left;
}

.elementor-9 .elementor-element.elementor-element-f620d1d img {
  width: 50%;
}

.elementor-bc-flex-widget .elementor-9 .elementor-element.elementor-element-2f6eccf.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-9 .elementor-element.elementor-element-2f6eccf.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-menu-hamburger {
  /* background-color: var(--e-global-color-accent); */
  background-color: transparent;
  float: right;
  border-style: solid;
  border-color: var(--e-global-color-accent);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-menu-container {
  height: 54px;
  border-radius: 0px 0px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav>li>a {
  font-family: "Tahoma", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--e-global-color-text);
  padding: 0px 20px 0px 20px;
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav>li>a:hover {
  color: var(--e-global-color-accent);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav>li>a:focus {
  color: var(--e-global-color-accent);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav>li>a:active {
  color: var(--e-global-color-accent);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav>li:hover>a {
  color: var(--e-global-color-accent);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
  color: var(--e-global-color-accent);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
  color: var(--e-global-color-accent);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
  color: var(--e-global-color-accent);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
  color: var(--e-global-color-accent);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav>li.current-menu-item>a {
  color: var(--e-global-color-accent);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav>li.current-menu-ancestor>a {
  color: var(--e-global-color-accent);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
  color: var(--e-global-color-accent);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
  color: #101010;
  fill: #101010;
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav>li>a .ekit-submenu-indicator-icon {
  color: #101010;
  fill: #101010;
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
  padding: 15px 15px 15px 15px;
  color: #000000;
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover {
  color: #707070;
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus {
  color: #707070;
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active {
  color: #707070;
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
  color: #707070;
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav .elementskit-submenu-panel>li.current-menu-item>a {
  color: #707070 !important;
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-submenu-panel {
  padding: 15px 0px 15px 0px;
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav .elementskit-submenu-panel {
  border-radius: 0px 0px 0px 0px;
  min-width: 220px;
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
  background-color: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-menu-hamburger>.ekit-menu-icon {
  color: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-menu-hamburger:hover .elementskit-menu-hamburger-icon {
  background-color: rgba(0, 0, 0, 0.5);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-menu-hamburger:hover>.ekit-menu-icon {
  color: rgba(0, 0, 0, 0.5);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-menu-close {
  color: rgba(51, 51, 51, 1);
}

.elementor-9 .elementor-element.elementor-element-553f431 .elementskit-menu-close:hover {
  color: rgba(0, 0, 0, 0.5);
}

.elementor-bc-flex-widget .elementor-9 .elementor-element.elementor-element-129db6a.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-9 .elementor-element.elementor-element-129db6a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-9 .elementor-element.elementor-element-8e4cce5 .elementor-button {
  height: 46px;
  width: 170px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: inline-flex;
  font-family: "Tahoma", Sans-serif;
  font-weight: 600;
  border-radius: 10px 10px 10px 10px;
  /* box-shadow: 3px 3px 0px 0px #FFFFFF; */
}

.elementor-9 .elementor-element.elementor-element-8e4cce5 .elementor-button:hover {
  transform: scale(1.1);
}

.elementor-9 .elementor-element.elementor-element-8731210 {
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--e-global-color-secondary);
  padding: 2em 4em 0em 4em;
}

.elementor-9 .elementor-element.elementor-element-8731210,
.elementor-9 .elementor-element.elementor-element-8731210>.elementor-background-overlay {
  border-radius: 20px 20px 20px 20px;
}

.elementor-bc-flex-widget .elementor-9 .elementor-element.elementor-element-b3ea1dd.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-9 .elementor-element.elementor-element-b3ea1dd.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-9 .elementor-element.elementor-element-0a78c83 .elementskit-section-title-wraper .elementskit-section-title {
  color: var(--e-global-color-text);
  margin: -1px -1px -15px -1px;
  font-family: "Bebas Neue", Sans-serif;
  font-size: 80px;
}

.elementor-9 .elementor-element.elementor-element-0a78c83 .elementskit-section-title-wraper .elementskit-section-title>span {
  color: #C41220;
}

.elementor-9 .elementor-element.elementor-element-0a78c83 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
  color: #C41220;
}

.elementor-9 .elementor-element.elementor-element-0a78c83 .elementskit-section-title-wraper .elementskit-section-title span:last-child,
.elementor-9 .elementor-element.elementor-element-0a78c83 .elementskit-section-title-wraper .elementskit-section-title>span {
  font-family: "Bebas Neue", Sans-serif;
}

.elementor-widget-text-editor {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-9f2f73b {
  font-family: "Tahoma", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.elementor-widget-ucaddon_copy_coupon_code .click-to-copy {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-9 .elementor-element.elementor-element-789c473 .ue_coupon_code {
  text-align: left;
}

.elementor-9 .elementor-element.elementor-element-789c473 .click-to-copy__text,
.elementor-9 .elementor-element.elementor-element-789c473 .copy_succes {
  padding: 10px 10px 10px 10px;
  min-width: 100px;
}

.elementor-9 .elementor-element.elementor-element-789c473 .click-to-copy__text {
  background-color: var(--e-global-color-primary);
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: var(--e-global-color-accent);
  border-radius: 15px;
}

.elementor-9 .elementor-element.elementor-element-789c473 .click-to-copy {
  color: var(--e-global-color-text);
  font-family: "Tahoma", Sans-serif;
  font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-789c473 .copy_succes {
  border-radius: 15px;
  background-color: var(--e-global-color-accent);
}

.elementor-9 .elementor-element.elementor-element-789c473 .uc-is-copied {
  color: #ffffff;
}

.elementor-9 .elementor-element.elementor-element-789c473 .uc-is-copied a {
  color: #ffffff;
}

.elementor-9 .elementor-element.elementor-element-c032ea0 {
  padding: 1em 0em 2em 0em;
}

.elementor-9 .elementor-element.elementor-element-74bff03>.elementor-element-populated {
  padding: 0px 0px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-184a62e .elementor-button {
  height: 46px;
  width: 170px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: inline-flex;
  font-family: "Tahoma", Sans-serif;
  font-weight: 600;
  border-radius: 10px 10px 10px 10px;
  /* box-shadow: 3px 3px 0px 0px #FFFFFF; */
}

.elementor-9 .elementor-element.elementor-element-184a62e .elementor-button:hover {
  transform: scale(1.1);
}

.elementor-9 .elementor-element.elementor-element-eca245d>.elementor-element-populated {
  padding: 0px 0px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-ddbec67 .elementor-button {
  height: 46px;
  width: 170px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: inline-flex;
  font-family: "Tahoma", Sans-serif;
  font-weight: 600;
  border-radius: 10px 10px 10px 10px;
  /* box-shadow: 3px 3px 0px 0px #FFFFFF; */
}

.elementor-9 .elementor-element.elementor-element-8e4cce5 .elementor-button:hover {
  transform: scale(1.1);
}

.elementor-9 .elementor-element.elementor-element-7f5fcee>.elementor-element-populated {
  padding: 0px 0px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-f4ac978 img {
  width: 100%;
}

.elementor-9 .elementor-element.elementor-element-7c8b766>.elementor-background-overlay {
  opacity: 0.22;
}

.elementor-9 .elementor-element.elementor-element-7c8b766 {
  padding: 4em 4em 4em 4em;
}

.elementor-9 .elementor-element.elementor-element-0d9b269 .elementskit-section-title-wraper .elementskit-section-title {
  /* color: var(--e-global-color-secondary); */
  color: white;
  margin: -1px -1px -15px -1px;
  font-family: "Bebas Neue", Sans-serif;
  font-size: 77px;
}

.elementor-9 .elementor-element.elementor-element-0d9b269 .elementskit-section-title-wraper .elementskit-section-title>span {
  color: white;
}

.elementor-9 .elementor-element.elementor-element-0d9b269 .elementskit-section-title-wraper .elementskit-section-title:hover>span {
  color: white;
}

.elementor-9 .elementor-element.elementor-element-0d9b269 .elementskit-section-title-wraper .elementskit-section-title span:last-child,
.elementor-9 .elementor-element.elementor-element-0d9b269 .elementskit-section-title-wraper .elementskit-section-title>span {
  font-family: "Bebas Neue", Sans-serif;
}

.elementor-9 .elementor-element.elementor-element-169195b:not(.elementor-motion-effects-element-type-background),
.elementor-9 .elementor-element.elementor-element-169195b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-169195b>.elementor-background-overlay {
  background-image: url("../../2025/01/trump-silhouette.png");
  background-position: center center;
  opacity: 0.59;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-169195b {
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: var(--e-global-color-secondary);
  box-shadow: 3px 3px 0px 0px #000000;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 1em;
  margin-bottom: 0em;
  padding: 3em 3em 2em 3em;
}

.elementor-9 .elementor-element.elementor-element-169195b,
.elementor-9 .elementor-element.elementor-element-169195b>.elementor-background-overlay {
  border-radius: 25px 25px 25px 25px;
}

.elementor-9 .elementor-element.elementor-element-ac2a74b {
  text-align: left;
}

.elementor-9 .elementor-element.elementor-element-ac2a74b img {
  width: 100%;
}

.elementor-bc-flex-widget .elementor-9 .elementor-element.elementor-element-cb82808.elementor-column .elementor-widget-wrap {
  align-items: center;
}

.elementor-9 .elementor-element.elementor-element-cb82808.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-9 .elementor-element.elementor-element-cb82808>.elementor-element-populated {
  padding: 0em 0em 0em 3em;
}

.elementor-9 .elementor-element.elementor-element-e6c3a9e {
  font-family: "Tahoma", Sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.elementor-9 .elementor-element.elementor-element-9c8db06 {
  text-align: left;
  font-family: "Tahoma", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-b983d97>.elementor-background-overlay {
  background-image: url("../../2025/01/f78c966b-6974-4c19-acb8-6eb582632cf4.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.04;
}

.elementor-9 .elementor-element.elementor-element-b983d97 {
  padding: 3em 4em 6em 4em;
}

.elementor-9 .elementor-element.elementor-element-e8a20bb .elementskit-section-title-wraper .elementskit-section-title {
  color: white;
  margin: -1px -1px -15px -1px;
  font-family: "Bebas Neue", Sans-serif;
  font-size: 77px;
}

.elementor-9 .elementor-element.elementor-element-e8a20bb .elementskit-section-title-wraper .elementskit-section-title>span {
  color: white;
}

.elementor-9 .elementor-element.elementor-element-e8a20bb .elementskit-section-title-wraper .elementskit-section-title:hover>span {
  color: white;
}

.elementor-9 .elementor-element.elementor-element-e8a20bb .elementskit-section-title-wraper .elementskit-section-title span:last-child,
.elementor-9 .elementor-element.elementor-element-e8a20bb .elementskit-section-title-wraper .elementskit-section-title>span {
  font-family: "Bebas Neue", Sans-serif;
}

.elementor-9 .elementor-element.elementor-element-fb7729c {
  padding: 1em 0em 0em 0em;
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
  border-color: var(--e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
  color: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
  fill: var(--e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item>a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-widget-icon-list .elementor-icon-list-text {
  color: var(--e-global-color-secondary);
}

.elementor-9 .elementor-element.elementor-element-11a20f9 .elementor-icon-list-icon i {
  transition: color 0.3s;
}

.elementor-9 .elementor-element.elementor-element-11a20f9 .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}

.elementor-9 .elementor-element.elementor-element-11a20f9 {
  --e-icon-list-icon-size: 28px;
  --icon-vertical-offset: 0px;
}

.elementor-9 .elementor-element.elementor-element-11a20f9 .elementor-icon-list-icon {
  padding-right: 7px;
}

.elementor-9 .elementor-element.elementor-element-11a20f9 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-9 .elementor-element.elementor-element-11a20f9 .elementor-icon-list-item>a {
  font-family: "Tahoma", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.elementor-9 .elementor-element.elementor-element-11a20f9 .elementor-icon-list-text {
  transition: color 0.3s;
}

.elementor-9 .elementor-element.elementor-element-c9c9486 {
  padding: 4em 0em 0em 0em;
}

.elementor-9 .elementor-element.elementor-element-721dc54:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-9 .elementor-element.elementor-element-721dc54>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-721dc54>.elementor-element-populated>.elementor-background-overlay {
  background-image: url("../../2025/01/star.png");
  background-position: center center;
  background-size: cover;
  opacity: 0.26;
}

.elementor-9 .elementor-element.elementor-element-721dc54>.elementor-element-populated {
  border-style: solid;
  border-color: #141414;
  box-shadow: 4px 4px 0px 0px #000000;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 3em 3em 3em 3em;
}

.elementor-9 .elementor-element.elementor-element-721dc54>.elementor-element-populated,
.elementor-9 .elementor-element.elementor-element-721dc54>.elementor-element-populated>.elementor-background-overlay,
.elementor-9 .elementor-element.elementor-element-721dc54>.elementor-background-slideshow {
  border-radius: 0px 20px 20px 20px;
}

.elementor-9 .elementor-element.elementor-element-721dc54>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-widget-icon.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-8069302 {
  width: auto;
  max-width: auto;
}

.elementor-9 .elementor-element.elementor-element-8069302>.elementor-widget-container {
  background-color: var(--e-global-color-primary);
  margin: -5em 0em 0em -4em;
  padding: 6px 6px 6px 6px;
  border-radius: 500px 500px 500px 500px;
  box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 0.98);
}

.elementor-9 .elementor-element.elementor-element-8069302.ha-has-bg-overlay>.elementor-widget-container:before {
  transition: background 0.3s;
}

.elementor-9 .elementor-element.elementor-element-8069302 .elementor-icon-wrapper {
  text-align: left;
}

.elementor-9 .elementor-element.elementor-element-8069302.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-8069302.elementor-view-framed .elementor-icon,
.elementor-9 .elementor-element.elementor-element-8069302.elementor-view-default .elementor-icon {
  color: var(--e-global-color-text);
  border-color: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-8069302.elementor-view-framed .elementor-icon,
.elementor-9 .elementor-element.elementor-element-8069302.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-8069302 .elementor-icon {
  font-size: 53px;
}

.elementor-9 .elementor-element.elementor-element-8069302 .elementor-icon svg {
  height: 53px;
}

.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  color: var(--e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-6406316 {
  text-align: center;
}

.elementor-9 .elementor-element.elementor-element-6406316 .elementor-heading-title {
  font-family: "Tahoma", Sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-c8f0530 {
  text-align: center;
}

.elementor-9 .elementor-element.elementor-element-c8f0530 .elementor-heading-title {
  font-family: "Tahoma", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-f78dc77 {
  --spacer-size: 50px;
}

.elementor-9 .elementor-element.elementor-element-8936104:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-9 .elementor-element.elementor-element-8936104>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-8936104>.elementor-element-populated>.elementor-background-overlay {
  background-image: url("../../2025/01/star.png");
  background-position: center center;
  background-size: cover;
  opacity: 0.26;
}

.elementor-9 .elementor-element.elementor-element-8936104>.elementor-element-populated {
  border-style: solid;
  border-color: #141414;
  box-shadow: 4px 4px 0px 0px #000000;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 3em 3em 3em 3em;
}

.elementor-9 .elementor-element.elementor-element-8936104>.elementor-element-populated,
.elementor-9 .elementor-element.elementor-element-8936104>.elementor-element-populated>.elementor-background-overlay,
.elementor-9 .elementor-element.elementor-element-8936104>.elementor-background-slideshow {
  border-radius: 0px 20px 20px 20px;
}

.elementor-9 .elementor-element.elementor-element-8936104>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-1369e9d {
  width: auto;
  max-width: auto;
}

.elementor-9 .elementor-element.elementor-element-1369e9d>.elementor-widget-container {
  background-color: var(--e-global-color-primary);
  margin: -5em 0em 0em -4em;
  padding: 6px 6px 6px 6px;
  border-radius: 500px 500px 500px 500px;
  box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 0.98);
}

.elementor-9 .elementor-element.elementor-element-1369e9d.ha-has-bg-overlay>.elementor-widget-container:before {
  transition: background 0.3s;
}

.elementor-9 .elementor-element.elementor-element-1369e9d .elementor-icon-wrapper {
  text-align: left;
}

.elementor-9 .elementor-element.elementor-element-1369e9d.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-1369e9d.elementor-view-framed .elementor-icon,
.elementor-9 .elementor-element.elementor-element-1369e9d.elementor-view-default .elementor-icon {
  color: var(--e-global-color-text);
  border-color: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-1369e9d.elementor-view-framed .elementor-icon,
.elementor-9 .elementor-element.elementor-element-1369e9d.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-1369e9d .elementor-icon {
  font-size: 53px;
}

.elementor-9 .elementor-element.elementor-element-1369e9d .elementor-icon svg {
  height: 53px;
}

.elementor-9 .elementor-element.elementor-element-62cf8c9 {
  text-align: center;
}

.elementor-9 .elementor-element.elementor-element-62cf8c9 .elementor-heading-title {
  font-family: "Tahoma", Sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-3ee3dc2 {
  text-align: center;
}

.elementor-9 .elementor-element.elementor-element-3ee3dc2 .elementor-heading-title {
  font-family: "Tahoma", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-7ea608d {
  --spacer-size: 50px;
}

.elementor-9 .elementor-element.elementor-element-55bac81:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-9 .elementor-element.elementor-element-55bac81>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-55bac81>.elementor-element-populated>.elementor-background-overlay {
  background-image: url("../../2025/01/star.png");
  background-position: center center;
  background-size: cover;
  opacity: 0.26;
}

.elementor-9 .elementor-element.elementor-element-55bac81>.elementor-element-populated {
  border-style: solid;
  border-color: #141414;
  box-shadow: 4px 4px 0px 0px #000000;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 3em 3em 3em 3em;
}

.elementor-9 .elementor-element.elementor-element-55bac81>.elementor-element-populated,
.elementor-9 .elementor-element.elementor-element-55bac81>.elementor-element-populated>.elementor-background-overlay,
.elementor-9 .elementor-element.elementor-element-55bac81>.elementor-background-slideshow {
  border-radius: 0px 20px 20px 20px;
}

.elementor-9 .elementor-element.elementor-element-55bac81>.elementor-element-populated>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-f5d3a6b {
  width: auto;
  max-width: auto;
}

.elementor-9 .elementor-element.elementor-element-f5d3a6b>.elementor-widget-container {
  background-color: var(--e-global-color-primary);
  margin: -5em 0em 0em -4em;
  padding: 6px 6px 6px 6px;
  border-radius: 500px 500px 500px 500px;
  box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 0.98);
}

.elementor-9 .elementor-element.elementor-element-f5d3a6b.ha-has-bg-overlay>.elementor-widget-container:before {
  transition: background 0.3s;
}

.elementor-9 .elementor-element.elementor-element-f5d3a6b .elementor-icon-wrapper {
  text-align: left;
}

.elementor-9 .elementor-element.elementor-element-f5d3a6b.elementor-view-stacked .elementor-icon {
  background-color: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-f5d3a6b.elementor-view-framed .elementor-icon,
.elementor-9 .elementor-element.elementor-element-f5d3a6b.elementor-view-default .elementor-icon {
  color: var(--e-global-color-text);
  border-color: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-f5d3a6b.elementor-view-framed .elementor-icon,
.elementor-9 .elementor-element.elementor-element-f5d3a6b.elementor-view-default .elementor-icon svg {
  fill: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-f5d3a6b .elementor-icon {
  font-size: 53px;
}

.elementor-9 .elementor-element.elementor-element-f5d3a6b .elementor-icon svg {
  height: 53px;
}

.elementor-9 .elementor-element.elementor-element-4ab72e7 {
  text-align: center;
}

.elementor-9 .elementor-element.elementor-element-4ab72e7 .elementor-heading-title {
  font-family: "Tahoma", Sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-6696fe1 {
  text-align: center;
}

.elementor-9 .elementor-element.elementor-element-6696fe1 .elementor-heading-title {
  font-family: "Tahoma", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-3b0dbef:not(.elementor-motion-effects-element-type-background),
.elementor-9 .elementor-element.elementor-element-3b0dbef>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-3b0dbef>.elementor-background-overlay {
  background-image: url("../../2025/01/stars-stripes-3_1stars-stripes-3-scaled.webp");
  background-position: center center;
  background-size: cover;
  opacity: 0.17;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-3b0dbef,
.elementor-9 .elementor-element.elementor-element-3b0dbef>.elementor-background-overlay {
  /* border-radius: 0px 0px 100px 100px; */
}

.elementor-9 .elementor-element.elementor-element-3b0dbef {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 4em 4em 4em 4em;
}

.elementor-9 .elementor-element.elementor-element-2e6a24f .elementskit-section-title-wraper .elementskit-section-title {
  color: var(--e-global-color-text);
  margin: -1px -1px -15px -1px;
  font-family: "Bebas Neue", Sans-serif;
  font-size: 77px;
}

.elementor-9 .elementor-element.elementor-element-2e6a24f .elementskit-section-title-wraper .elementskit-section-title>span {
  color: #C41220;
}

.elementor-9 .elementor-element.elementor-element-2e6a24f .elementskit-section-title-wraper .elementskit-section-title:hover>span {
  color: #C41220;
}

.elementor-9 .elementor-element.elementor-element-2e6a24f .elementskit-section-title-wraper .elementskit-section-title span:last-child,
.elementor-9 .elementor-element.elementor-element-2e6a24f .elementskit-section-title-wraper .elementskit-section-title>span {
  font-family: "Bebas Neue", Sans-serif;
}

.elementor-9 .elementor-element.elementor-element-a3f05f4 .ue_coupon_code {
  text-align: center;
}

.elementor-9 .elementor-element.elementor-element-a3f05f4 .click-to-copy__text,
.elementor-9 .elementor-element.elementor-element-a3f05f4 .copy_succes {
  padding: 10px 10px 10px 10px;
  min-width: 100px;
}

.elementor-9 .elementor-element.elementor-element-a3f05f4 .click-to-copy__text {
  background-color: var(--e-global-color-primary);
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: var(--e-global-color-accent);
  border-radius: 15px;
}

.elementor-9 .elementor-element.elementor-element-a3f05f4 .click-to-copy {
  color: var(--e-global-color-text);
  font-family: "Tahoma", Sans-serif;
  font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-a3f05f4 .copy_succes {
  border-radius: 15px;
  background-color: var(--e-global-color-accent);
}

.elementor-9 .elementor-element.elementor-element-a3f05f4 .uc-is-copied {
  color: #ffffff;
}

.elementor-9 .elementor-element.elementor-element-a3f05f4 .uc-is-copied a {
  color: #ffffff;
}

.elementor-9 .elementor-element.elementor-element-e73b7d4 {
  text-align: center;
  font-family: "Tahoma", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.elementor-9 .elementor-element.elementor-element-dcc3c8b {
  padding: 4em 4em 4em 4em;
}

.elementor-9 .elementor-element.elementor-element-c9da1ab .elementskit-section-title-wraper .elementskit-section-title {
  color: var(--e-global-color-primary);
  margin: -1px -1px -15px -1px;
  font-family: "Bebas Neue", Sans-serif;
  font-size: 77px;
}

.elementor-9 .elementor-element.elementor-element-c9da1ab .elementskit-section-title-wraper .elementskit-section-title>span {
  color: #C41220;
}

.elementor-9 .elementor-element.elementor-element-c9da1ab .elementskit-section-title-wraper .elementskit-section-title:hover>span {
  color: #C41220;
}

.elementor-9 .elementor-element.elementor-element-c9da1ab .elementskit-section-title-wraper .elementskit-section-title span:last-child,
.elementor-9 .elementor-element.elementor-element-c9da1ab .elementskit-section-title-wraper .elementskit-section-title>span {
  font-family: "Bebas Neue", Sans-serif;
}

.elementor-9 .elementor-element.elementor-element-568a76f {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 39px;
  --grid-column-gap: 15px;
  --grid-row-gap: 0px;
}

.elementor-9 .elementor-element.elementor-element-568a76f .elementor-widget-container {
  text-align: center;
}

.elementor-9 .elementor-element.elementor-element-568a76f .elementor-social-icon {
  background-color: var(--e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-568a76f .elementor-social-icon i {
  color: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-568a76f .elementor-social-icon svg {
  fill: var(--e-global-color-text);
}

.elementor-9 .elementor-element.elementor-element-80ab76c:not(.elementor-motion-effects-element-type-background),
.elementor-9 .elementor-element.elementor-element-80ab76c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-80ab76c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0.5em 4em 0.5em 4em;
}

.elementor-9 .elementor-element.elementor-element-80ab76c>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9 .elementor-element.elementor-element-b3aed68 {
  text-align: center;
  font-family: "Tahoma", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}

body.elementor-page-9:not(.elementor-motion-effects-element-type-background),
body.elementor-page-9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  background-color: var(--e-global-color-text);
}

@media(max-width:1024px) {
  .elementor-9 .elementor-element.elementor-element-553f431 .elementskit-nav-identity-panel {
    padding: 10px 0px 10px 0px;
  }

  .elementor-9 .elementor-element.elementor-element-553f431 .elementskit-menu-container {
    max-width: 350px;
    border-radius: 0px 0px 0px 0px;
  }

  .elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav>li>a {
    color: #000000;
    padding: 10px 15px 10px 15px;
  }

  .elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
    padding: 15px 15px 15px 15px;
  }

  .elementor-9 .elementor-element.elementor-element-553f431 .elementskit-navbar-nav .elementskit-submenu-panel {
    border-radius: 0px 0px 0px 0px;
  }

  .elementor-9 .elementor-element.elementor-element-553f431 .elementskit-menu-hamburger {
    padding: 8px 8px 8px 8px;
    width: 45px;
    border-radius: 3px;
  }

  .elementor-9 .elementor-element.elementor-element-553f431 .elementskit-menu-close {
    padding: 8px 8px 8px 8px;
    margin: 12px 12px 12px 12px;
    width: 45px;
    border-radius: 3px;
  }

  .elementor-9 .elementor-element.elementor-element-553f431 .elementskit-nav-logo>img {
    max-width: 160px;
    max-height: 60px;
  }

  .elementor-9 .elementor-element.elementor-element-553f431 .elementskit-nav-logo {
    margin: 5px 0px 5px 0px;
    padding: 5px 5px 5px 5px;
  }
}

@media(max-width:767px) {
  .elementor-9 .elementor-element.elementor-element-a59d40d {
    padding: 0em 0em 0em 0em;
  }

  .elementor-9 .elementor-element.elementor-element-a941243,
  .elementor-9 .elementor-element.elementor-element-a941243>.elementor-background-overlay {
    border-radius: 0px 0px 80px 80px;
  }

  .elementor-9 .elementor-element.elementor-element-a941243 {
    padding: 0px 0px 0px 0px;
  }

  .elementor-9 .elementor-element.elementor-element-096b5d7 {
    padding: 0em 0em 0em 0em;
  }

  .elementor-9 .elementor-element.elementor-element-10f1b01 {
    width: 30%;
  }

  .elementor-9 .elementor-element.elementor-element-f620d1d img {
    width: 65%;
  }

  .elementor-9 .elementor-element.elementor-element-2f6eccf {
    width: 70%;
  }

  .elementor-9 .elementor-element.elementor-element-553f431 .elementskit-menu-hamburger {
    border-width: 2px 2px 2px 2px;
  }

  .elementor-9 .elementor-element.elementor-element-553f431 .elementskit-nav-logo>img {
    max-width: 120px;
    max-height: 50px;
  }

  .elementor-9 .elementor-element.elementor-element-8731210 {
    padding: 3em 0em 0em 0em;
  }

  .elementor-9 .elementor-element.elementor-element-0a78c83 .elementskit-section-title-wraper .elementskit-section-title {
    font-size: 60px;
  }

  .elementor-9 .elementor-element.elementor-element-9f2f73b {
    font-size: 20px;
  }

  .elementor-9 .elementor-element.elementor-element-789c473 .ue_coupon_code {
    text-align: left;
  }

  .elementor-9 .elementor-element.elementor-element-789c473 .click-to-copy {
    font-size: 12px;
  }

  .elementor-9 .elementor-element.elementor-element-789c473 .click-to-copy__text {
    border-width: 2px 2px 2px 2px;
  }

  .elementor-9 .elementor-element.elementor-element-74bff03 {
    width: 50%;
  }

  .elementor-9 .elementor-element.elementor-element-184a62e .elementor-button {
    width: 150px;
    font-size: 15px;
  }

  .elementor-9 .elementor-element.elementor-element-eca245d {
    width: 50%;
  }

  .elementor-9 .elementor-element.elementor-element-ddbec67 .elementor-button {
    width: 150px;
    font-size: 15px;
  }

  .elementor-9 .elementor-element.elementor-element-7c8b766 {
    padding: 3em 0em 0em 0em;
  }

  .elementor-9 .elementor-element.elementor-element-0d9b269 .elementskit-section-title-wraper .elementskit-section-title {
    font-size: 55px;
  }

  .elementor-9 .elementor-element.elementor-element-169195b {
    padding: 1em 0.5em 1em 0.5em;
  }

  .elementor-9 .elementor-element.elementor-element-cb82808>.elementor-element-populated {
    padding: 1em 0em 0em 0em;
  }

  .elementor-9 .elementor-element.elementor-element-e6c3a9e {
    font-size: 18px;
  }

  .elementor-9 .elementor-element.elementor-element-9c8db06 {
    font-size: 16px;
  }

  .elementor-9 .elementor-element.elementor-element-b983d97>.elementor-background-overlay {
    background-size: contain;
  }

  .elementor-9 .elementor-element.elementor-element-b983d97 {
    padding: 3em 0em 3em 0em;
  }

  .elementor-9 .elementor-element.elementor-element-e8a20bb .elementskit-section-title-wraper .elementskit-section-title {
    font-size: 55px;
  }

  .elementor-9 .elementor-element.elementor-element-11a20f9 {
    --e-icon-list-icon-size: 20px;
  }

  .elementor-9 .elementor-element.elementor-element-11a20f9 .elementor-icon-list-item>.elementor-icon-list-text,
  .elementor-9 .elementor-element.elementor-element-11a20f9 .elementor-icon-list-item>a {
    font-size: 16px;
  }

  .elementor-9 .elementor-element.elementor-element-c9c9486 {
    padding: 3em 0em 0em 0em;
  }

  .elementor-9 .elementor-element.elementor-element-6406316 .elementor-heading-title {
    font-size: 25px;
  }

  .elementor-9 .elementor-element.elementor-element-c8f0530 .elementor-heading-title {
    font-size: 15px;
  }

  .elementor-9 .elementor-element.elementor-element-f78dc77 {
    --spacer-size: 2em;
  }

  .elementor-9 .elementor-element.elementor-element-62cf8c9 .elementor-heading-title {
    font-size: 25px;
  }

  .elementor-9 .elementor-element.elementor-element-3ee3dc2 .elementor-heading-title {
    font-size: 15px;
  }

  .elementor-9 .elementor-element.elementor-element-7ea608d {
    --spacer-size: 2em;
  }

  .elementor-9 .elementor-element.elementor-element-4ab72e7 .elementor-heading-title {
    font-size: 25px;
  }

  .elementor-9 .elementor-element.elementor-element-6696fe1 .elementor-heading-title {
    font-size: 15px;
  }

  .elementor-9 .elementor-element.elementor-element-3b0dbef,
  .elementor-9 .elementor-element.elementor-element-3b0dbef>.elementor-background-overlay {
    border-radius: 0px 0px 80px 80px;
  }

  .elementor-9 .elementor-element.elementor-element-3b0dbef {
    padding: 3em 0em 3em 0em;
  }

  .elementor-9 .elementor-element.elementor-element-2e6a24f .elementskit-section-title-wraper .elementskit-section-title {
    font-size: 55px;
  }

  .elementor-9 .elementor-element.elementor-element-a3f05f4 .click-to-copy {
    font-size: 11px;
  }

  .elementor-9 .elementor-element.elementor-element-e73b7d4 {
    font-size: 16px;
  }

  .elementor-9 .elementor-element.elementor-element-dcc3c8b {
    padding: 3em 0em 3em 0em;
  }

  .elementor-9 .elementor-element.elementor-element-c9da1ab .elementskit-section-title-wraper .elementskit-section-title {
    font-size: 55px;
  }

  .elementor-9 .elementor-element.elementor-element-568a76f {
    --icon-size: 25px;
    --grid-column-gap: 12px;
  }

  .elementor-9 .elementor-element.elementor-element-80ab76c {
    padding: 0.5em 0em 0.5em 0em;
  }

  .elementor-9 .elementor-element.elementor-element-b3aed68 {
    font-size: 15px;
  }
}

@media(min-width:768px) {
  .elementor-9 .elementor-element.elementor-element-10f1b01 {
    width: 12.114%;
  }

  .elementor-9 .elementor-element.elementor-element-2f6eccf {
    width: 70.489%;
  }

  .elementor-9 .elementor-element.elementor-element-129db6a {
    width: 17.061%;
  }

  .elementor-9 .elementor-element.elementor-element-74bff03 {
    width: 40%;
  }

  .elementor-9 .elementor-element.elementor-element-eca245d {
    width: 60%;
  }

  .elementor-9 .elementor-element.elementor-element-1418eec {
    width: 30.226%;
  }

  .elementor-9 .elementor-element.elementor-element-cb82808 {
    width: 69.774%;
  }

  .elementor-9 .elementor-element.elementor-element-721dc54 {
    width: 30%;
  }

  .elementor-9 .elementor-element.elementor-element-a1f7249 {
    width: 5%;
  }

  .elementor-9 .elementor-element.elementor-element-8936104 {
    width: 30%;
  }

  .elementor-9 .elementor-element.elementor-element-d80a758 {
    width: 5%;
  }

  .elementor-9 .elementor-element.elementor-element-55bac81 {
    width: 30%;
  }
}
